
<div class="container-fluid card blogpost">
    <div class = "card-title m-2">
        <a href="/blogpost/{{userBlog.id}}" class="card-link text-dark">{{userBlog.post_title}}</a>
    </div>
  <div class="card-body">
    
    <p class="card-subtitle mb-2 text-white text-sm">Created by {{userBlog.user.username}} on {{userBlog.createdAt}}<p>
    <p class="card-text text-white">{{userBlog.content}}</p>
      
  </div>
</div>


{{#each parseCommentData as |parseCommentData|}}
<div class="container-fluid card comment">
    <div class = "card-title m-2">
        <p>Comment by {{user.username}} on {{parseCommentData.createdAt}}</p>
    </div>
  <div class="card-body">
    
   
    <p class="card-text text-white">{{parseCommentData.comment}}</p>
      
  </div>
</div>
{{/each}}
{{#if logged_in}}
<form data-id = "{{userBlog.id}}" class="col-6 addcomment">
  <div class="form-group">
    <label class="text-white" for="addcommentcontent">Comment:</label>
    <input type="text" class="form-control" id="addcommentcontent">
  </div>
  <button type="submit" class="mt-1 btn btn-primary updatesubmit">Add comment</button>
</form>

{{/if}}

<script src="/js/blogpost.js"></script>
